<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.2-alpha" targetFramework="net471" />
  <package id="Accord.MachineLearning" version="3.8.2-alpha" targetFramework="net471" />
  <package id="Accord.Math" version="3.8.2-alpha" targetFramework="net471" />
  <package id="Accord.Statistics" version="3.8.2-alpha" targetFramework="net471" />
  <package id="JsonConverter.Abstractions" version="0.5.0" targetFramework="net471" />
  <package id="JsonConverter.Newtonsoft.Json" version="0.5.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net471" />
  <package id="Newtonsoft.Json.Bson" version="1.0.3-beta1" targetFramework="net471" />
  <package id="Newtonsoft.Json.Schema" version="3.0.16-beta1" targetFramework="net471" />
  <package id="Stef.Validation" version="0.1.1" targetFramework="net471" />
</packages>